
<form class="mx-1 mx-md-4" [formGroup]="registerForm">
    <div class="d-flex flex-row align-items-center mb-4">
      <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
      <div class="form-outline flex-fill mb-0">
        <label class="form-label">Your Email</label>
        <input
          type="email"
          class="form-control form-control-sm"
          formControlName="email"
        />
        <p
          *ngIf="
            (registerForm.controls['email'].dirty ||
              registerForm.controls['email'].touched ||
              registerForm.controls['email'].pristine) &&
            registerForm.controls['email'].errors
          "
          class="text-danger"
        >
          This field is required!
        </p>
      </div>
    </div>
  
    <div class="d-flex flex-row align-items-center mb-4">
      <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
      <div class="form-outline flex-fill mb-0">
        <label class="form-label">Password</label>
        <input
          type="password"
          class="form-control form-control-sm"
          formControlName="password"
        />
        <p
          *ngIf="
            (registerForm.controls['password'].dirty ||
              registerForm.controls['password'].touched ||
              registerForm.controls['password'].pristine) &&
            registerForm.controls['password'].errors
          "
          class="text-danger"
        >
          This field is required!
        </p>
      </div>
    </div>
  
    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
      <button
        [disabled]="registerForm.invalid"
        type="submit"
        class="btn btn-primary"
        (click)="login()"
      >
        Login
      </button>
      &nbsp;
      <button
        routerLink="/login"
        type="button"
        [disabled]="registerForm.valid"
        class="btn btn-danger"
      >
        Back
      </button>
    </div>
  </form>
  
  <!-- </form>
  <a routerLink="/register">New User Click ? Here to Registered !</a>
  </div>
  
  
  </div> -->
  